.title{
    margin-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0C090A;
}
.question{
    margin-bottom: 30px;
    font-size: large;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #0C090A;
}
.hidden{
    display: none
}
.ant-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    word-wrap: break-word;
    text-align: center;
}